*{
  font-family: sans-serif;
  box-sizing: border-box;
  outline: none;
}

html {
  border: 5px solid black;
}

.clear{
  clear:both;
}
.right{
  float: right;
}
.left{
  float: left;
}
html, body {
    height: 100%;
}
.container {
  position: relative;
  width: 100%;
  height: 100%;
}
.status-bar {
  text-align: center;
}
.status-bar > div {
  display: inline-block;
}
